@media (max-width:550px){
    .navbar{
        background-color: #deb37e !important;
    }
    .navbar-brand img {
        width: 70%;
    }
    .landingPage{
        background-size: cover;  
        background-position: top 0rem right -15rem;  
    }
    .shapeBottom{
        display: none;
    }
    .homeSectionContent {
        padding-top: 7rem;
    }
    .homeSection{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .homeReadMore{
        background-color:#deb37e;
    }
    .shapeContainer{
        display: none;
    }
    .card{
        width: 100% !important;
    }
    .placeUpperSection p{
        width: 100% !important;
        text-align: left !important;
    }
    .discountContainer,.offerContainer{
        padding: 1rem !important;
    }
    .discountContainerContent p,.offerContainerContent p{
        width: 100% !important;
    }
    .discountReadMore{
        padding: 0.8rem 1.3rem;
    }
    .hiking{
        background-image: none;
        padding-top: 3rem;
    padding-bottom: 3rem;
    }
    .hiking p{
        width: 100%;
        text-align: left !important;
    }
    .explore{
        padding: 4rem 0;
        background-image:url(../images/explore.png);
    background-repeat: no-repeat;
    background-size:cover;
    }
    .normal{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left:1rem;
    }
    .nRow{
            --bs-gutter-x:0 !important;
    }
    .testimonial p{
        width: 100%;
    }
    .formSection{
      background-image: none;
      padding-top: 3rem;
    padding-bottom: 3rem;
    }
    .formContent p {
        width: 100%;
        text-align: left !important;
    }
    .input-container{
        
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    }
    .subscribe-btn{
        margin: auto;
    }
    .form-container{
        background: none !important;
        border-radius: 0;
    }
    footer{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .footerLeft p{
        width: 100% !important;
    }
    .footerRight{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footerRight > div > h3{
        color: black !important;
    }
    .input-container input{
        /* display: none; */
    }
}