@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Open Sans", sans-serif;
  /* border: 1px solid black; */
}
body{
    background-color: #fff;
}
/* navigation bar css */
.nav-link {
  color: #54524f;
  letter-spacing: 3px;
  position: relative;
}

.searchIcon{
    background-color: #c6c0bd;
    display: flex;
    align-items: center;
    padding-right: 1.7rem;
    padding-left: 6.7rem;
    border-radius: 22px;
    padding-top: 4px;
    padding-bottom: 4px;

}
.searchIcon img{
    opacity: 0.9;
}

/* hover for nav items */
.nav-link::after {
  content: "";
  position: absolute;
  background-color: #54524f;
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  /* transform-origin: left; */
  transition: all 0.25s ease-in-out;
  border-radius: 5px;
}
.nav-link:hover::after,.nav-link {
    animation: ltr 0.5s linear;
  transform: scaleX(1);
}
/* nav items hover end */

/* logo animation */
.logo{
    animation: rotate 6s infinite linear;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    } 
}

/* logo animation ends */

/* landing page css */
.landingPage{
    background-image:url(../images/landingbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.homeHeadings{
    -webkit-text-stroke:2.5px;
    color: #deb37e;
    /* text-shadow:  4px -5px rgba(0,0,0,0.1) */
    text-shadow: 4px -4px 7px rgba(0,0,0,0.2);
    letter-spacing: 2px;
    z-index: 0;
}

/* home section hover */
.homeHeadings h1:hover{
    color: transparent;
    -webkit-text-stroke: 1px black;
    text-shadow: none;
}
.homeSectionContent{
    padding-top: 15rem;
}
.homeSectionContent h4 i{
    letter-spacing: 3px;
    color: #54524f;
    /* color: palegreen; */
}
.homeReadMore{
    background-color: rgba(254,253,253,255);
    font-weight: 900;
    border-radius: 25px;
    color: #776c64;
    position: relative;
    z-index: 1;
}

/* bottun hover */
.homeReadMore::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #deb37e;
    border-radius: 25px;
    transform: scaleX(0);
    /* transform-origin: left; */
    transition: all 0.3s ease-in-out;
}
.homeReadMore h5{
    animation: blinker  0.6s linear infinite ;
}
@keyframes blinker{
    50%{
        color:black;
    }
}

.homeReadMore:hover::before, .homeReadMore:hover h5{
    transform: scaleX(1);
    color: transparent;
    -webkit-text-stroke: 1px black;
}

/* button hover ends */

.homeSectionContent p{
    color:#54524f;
    width: 38%;
    word-break:break-all;
}
.homeSectionContent p i::selection{
    background-color:#deb37e;
}

/* places section */

.placeUpperSection h1{
    color: #e2a355;
    -webkit-text-stroke: 2.5px;
    letter-spacing: 2px;
    animation: blinker2 3s linear infinite;

}
@keyframes blinker2{
    50%{
        color: transparent;
        -webkit-text-stroke: 2px black;
    }
}
.card{
    transition: all 0.45s ease-in-out;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-20px);
}
.placeUpperSection p{
    color: #7f7770;
    opacity: 0.9;
}
.card-body{
    background-color: rgba(131,120,112,255) !important;
}
.card-text{
    font-size: 19px;
}

.card-opacity{
    opacity: 0.9;
}

/* places read more */
.placesReadMore{
    background-color: rgba(131,120,112,255) !important;
    padding: 0 3.7rem;
    border-radius: 50px;
    opacity: 0.9;
    letter-spacing: 3px;
    -webkit-text-stroke: 0.5px;
    z-index: 1;
    position: relative;
    border: none;
    transition: all 0.3s ease-in-out;
}

/* places read more hover */
.placesReadMore::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: black;
    border-radius: 50px;
    transform: scaleY(0);
    /* transform-origin: bottom; */
    transition: all 0.2s ease-in-out;
}
.placesReadMore:hover::before{
    transform: scaleY(1) !important;
}
.shadowImage{
    bottom: -9%;
    left: -19%;
    opacity: 0.8;
}

.discountContainer{
    background-color: rgba(131,120,112,255);
    padding: 10.5rem 0rem 0rem 3.5rem !important;
}

.discountReadMore{
    background: #f5a54e;
    padding: 1rem 3.3rem;
    border-radius: 50px;
    letter-spacing: 5px;
    transition: all 0.2s ease-in-out;
}
.discountReadMore:hover{
    background-color: black;
    border-radius: 0;
    border: 0;
}
.offerContainer{
    background-color: #edb47c;
    padding: 10.5rem 0rem 0rem 10.5rem;
}
.hiking{
    background-color: rgba(157, 147, 142, 255);
    color: #dbdbdb;
    background-image: url(../images/ShapeUp.png), url(../images/Shadow.png),url(../images/ShapeBtm.png);
    background-repeat: no-repeat;
    background-position: top 0 left 0, top 4rem left -19rem, bottom 0 left 0px;
    background-size: 100%, 49rem 23rem, 100%;
    padding-top: 13rem;
    padding-bottom: 13rem;
}
.hiking p{
    width: 59%;
    word-break: break-all;
}
.explore{
    background-image: url(../images/exploreTop.png),url(../images/explore.png);
    background-repeat: no-repeat;
    background-size: 100%,cover;
    padding: 21rem 0;
}
.exploreHeadings{
    -webkit-text-stroke: 3px;
    text-shadow: 4px -4px 7px rgba(0,0,0,0.2);
    letter-spacing: 3px;
    overflow: hidden;
}
 
.heading1{
    color: #deb37e;
    animation: rightse 3s infinite;
    position: relative;
    animation-fill-mode: forwards;
}
.heading2{
    color: #54524f;
    animation: leftse 3s infinite;
    position: relative;
    animation-fill-mode: forwards;
}
@keyframes rightse {
    0%{
        right: -100%;
    }
    50%{
        right: -50%;
    }
    100%{
        right: 0;
    }
}
@keyframes leftse {
    0%{
        left: -100%;
    }
    50%{
        left: -50%;
    }
    100%{
        left: 0;
    }
}
.exploreBottom{
    bottom: 0;
    left: 0;
}

.normal{
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: all 0.45s ease-in-out;
    cursor: pointer;
}
.normal h3{
    color: #deb37e;
}
.normal p{
    color: #333d42;
    -webkit-text-stroke: 0.3px;
}
.testimonial{
    color: #3f3f3f;
    line-height: 0 !important;
}
.testimonial p{
    -webkit-text-stroke: 0.5px;
    line-height: 1.3;
    width: 56%;
    word-break: break-all;
}
.testimonialContainer{
    /* background-image: url(../images/ShadowRight.png);
    background-repeat: no-repeat;
    background-size: 42rem 39rem;
    background-position: bottom -13rem right -11rem; */
}
.leafImage{
    /* top: 5rem;
    right: -43rem; */
}
.normal:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.01) ;
}
.formSection{
    background-color: #edb47c;
    background-image: url(../images/exploreTop.png),url(../images/ShapeBtm.png);
    background-repeat: no-repeat;
    background-size: 100%,100%;
    background-position: top 0 left 0,bottom 0 left 0;
    padding-top: 15rem;
    padding-bottom: 15rem;

}
.formContent p{
    color: #54524f;
    width: 65%;
}
.form-container{
    background-color: #fff;
    border-radius: 50px;
    width: 55%;
}
.input-container input{
    border-radius: 50px;
}
.input-container button{
    background-color: #54514e;
    border-radius: 50px;
    letter-spacing: 3px;
}

footer{
    background-color: #837870;
    background-image: url(../images/exploreTop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20rem 0 11rem 0;
    font-family: "Montserrat", sans-serif;
}
.footerLeft h3,.footerRight h3{
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;

}
.footerLeft p{
    font-size: 22px;
    word-break: break-all;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;

}
.footerRight p{
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
}
    












/* .rotateImage {
    position: absolute;
    z-index: -1;
    width: 100% !important;
    height: 100%;
    text-align: center;
    left: 0;
    top: -570px;
}

.rotateImage img {
    animation-name: spin;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: .04;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
    
    
    
    
} */
